nav {
	background-color: #039be5;
}

.card-panel {
    border-radius: 10px;
    border: 1px solid lightblue;
}

.input-field input[type=search] {
    line-height: inherit;
    padding-left: 1rem;
}

.input-field input[type=search]:focus {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: #444;
}

.modal.modal-fixed-footer {
    top: 25%;
    height: 50%;
}